.row-blank>.z-row-inner>.z-row-content>.z-hlayout>.z-hlayout-inner>.z-vlayout>.z-vlayout-inner>.z-label {
	color: #00547a;
}

.row-blank>.z-row-inner>.z-row-content>.z-groupbox>.z-groupbox-content>.z-hlayout>.z-hlayout-inner>.z-vlayout>.z-vlayout-inner>.z-label {
	color: #00547a;
}


body {
	padding: 0px;
	margin: 0px;
}

.z-listbox .z-listbox-header,.z-grid .z-grid-header {
	background: #eee;
}

/* Nastaveni gridu - radky */
.z-row .z-row-inner,.z-row .z-cell {
	border-left: none;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	overflow: hidden;
	background: white;
}

/* Nastaveni gridu - detail */
.z-row .z-detail-outer {
	width: 40px;
	min-width: 40px;
	border-top: none;
	border-bottom: 1px solid #ddd;
	padding: 5px 6px !important;
	line-height: normal;
	background: white;
	vertical-align: top
}

/* Nastaveni gridu - detail po najeti mysi */
.z-row:hover .z-detail-outer {
	width: 40px;
	min-width: 40px;
	border-top: none;
	border-bottom: 1px solid #ddd;
	padding: 5px 6px !important;
	line-height: normal;
	background: #e6f2fd;
	vertical-align: top
}

/* Nastaveni gridu - barva radku po najeti mysi */
.z-row:hover>.z-row-inner,.z-row:hover>.z-cell {
	background: #e6f2fd;
	background-clip: padding-box;
}

/* Nastaveni gridu - pouziti jako detailu, tzn. seznam udaju s ciste bilym pozadim */
.row-blank:hover>.z-row-inner,.z-row-blank:hover>.z-cell {
	background: white;
	background-clip: padding-box;
	border-bottom: none;
}

/* Nastaveni gridu - pouziti jako detailu, tzn. seznam udaju s ciste bilym pozadim */
.row-blank>.z-row-inner,.z-row-blank>.z-cell {
	background: white;
	background-clip: padding-box;
	border-bottom: none;
}

/* GROUPBOX */
.group-detail {
	padding-top: 5px;
}

.group-detail .z-groupbox-header {
	height: 10px;
	line-height: 0px;
}

.z-caption-content {
	line-height: 12px;
	padding: 0px;
}

.group-detail .z-groupbox-content {
	padding-top: 0px;
}

/* TABSEL */
.tabsel .z-tabs-content {
	border: none;
}

.tabsel .z-tabs-content .z-tab {
	border-bottom: solid 1px #ddd;
	border-collapse: collapse;
	background: white;
	border-radius: 0px;
	height: 25px;
	padding-top: 0px;
}

.tabsel .z-tabs-content .z-tab-selected {
	background: #dde;
	border: solid 1px #dde;
}

.tabsel .z-tabs-content .z-tab:hover {
	border: solid 1px #888;
	border-collapse: collapse;
	background: #dde;
}

.tabsel .z-tabs-content .z-tab-selected:hover {
	background: #dde;
	border: solid 1px #dde;
}

.tabsel .z-tabs-content .z-tab-selected .z-tab-text {
	cursor: default;
	font-weight: normal;
	color: black;
}

.tabsel .z-tabs-content .z-tab .z-tab-text {
	padding-top: 0px;
}

/* TABHEAD */
.tabhead .z-tabs-content {
	border: none;
}

.tabhead .z-tabs-content .z-tab {
	border: solid 2px #fff;
	border-collapse: collapse !important;
	background: #fff;
	border-radius: 0px;
	height: 30px;
	padding-top: 3px;
}

.tabhead .z-tabs-content .z-tab-selected {
	background: #eef;
}

.tabhead .z-tabs-content .z-tab:hover {
	border: solid 2px #fff;
	background: #dde;
}

.tabhead .z-tabs-content .z-tab-selected:hover {
	background: #dde;
}

.tabhead .z-tabs-content .z-tab-disabled:hover {
	background: #dde;
}

.tabhead .z-tabs-content .z-tab-selected .z-tab-text {
	cursor: default;
	font-weight: normal;
	color: black;
}

.tabhead .z-tabs-content .z-tab-disabled {
	cursor: default;
	font-weight: normal;
	color: black;
	background: white;
	opacity: 1;
	filter: none;
}

.tabhead .z-tabs-content .z-tab .z-tab-text {
	padding-top: 0px;
	font-weight: normal;
}

/* tab-menu-top */
.tab-menu-top .z-tabs-content {
	border: none;
}

.tab-menu-top .z-tabs-content .z-tab {
	border: solid 0px #ddd;
	border-collapse: collapse;
	background: #777;
	border-radius: 0px;
	height: 30px;
	padding-top: 3px;
}

.tab-menu-top .z-tabs-content .z-tab-selected {
	background: #777;
	border: solid 0px #dde;
}

.tab-menu-top .z-tabs-content .z-tab:hover {
	border-top: solid 1px #777;
}

.tab-menu-top .z-tabs-content .z-tab-selected:hover {
	border: none;
}

.tab-menu-top .z-tabs-content .z-tab .z-tab-text {
	font-size: 13px;
	padding-top: 0px;
	font-weight: bold;
	color: white;
}

.tab-menu-top .z-tabs-content .z-tab:hover .z-tab-text {
	color: #ddd;
}

.tab-menu-top .z-tabs-content .z-tab-selected .z-tab-text {
	cursor: default;
	font-weight: bold;
	color: #ddd;
}

/* tab-menu */
.tab-menu .z-tabs-content {
	border: none;
}

.tab-menu .z-tabs-content .z-tab {
	border: none;
	border-collapse: collapse;
	background: #fff;
	border-radius: 0px;
	height: 28px;
	padding-top: 3px;
}

.tab-menu .z-tabs-content .z-tab-selected {
	background: #fff;
	border: none;
}

.tab-menu .z-tabs-content .z-tab:hover {
	border-top: solid 1px #fff;
}

.tab-menu .z-tabs-content .z-tab-selected:hover {
	border: none;
}

.tab-menu .z-tabs-content .z-tab .z-tab-text {
	padding-top: 0px;
	font-weight: normal;
	color: #222;
}

.tab-menu .z-tabs-content .z-tab:hover .z-tab-text {
	color: #888;
}

.tab-menu .z-tabs-content .z-tab-selected .z-tab-text {
	cursor: default;
	font-weight: normal;
	color: #888;
}

.nopadwin .z-window-content {
	padding: 0px;
	border: none;
}

.z-west-header {
	background: #99c6ef;
}

.x_btnClear {
	width: 23px;
	height: 24px;
	padding: 3px;
	border-radius: 0px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #8FB9D0;
	color: #636363;
}

.toolbar {
	border: solid 2px white;
	border-radius: 0px;
	padding: 0px 3px 4px 3px;
	height: 27px;
	background: #dde;
}

.toolbar span {
	color: #444;
	text-shadow: none;
	font-size: 14px;
	font-family: Calibri;
}

.help {
	border: solid 2px #dde;
	border-radius: 0px;
	padding: 3px;
	height: 30px;
	background: #dde;
}

.help span {
	color: #444;
	text-shadow: none;
	font-size: 14px;
	font-family: Calibri;
}

.grid {
	border: solid 2px #99c6ef;
}

.header {
	background: #99c6ef;
	border: none;
}

.header-help {
	background: #99c6ef;
	border-left: none;
}

.header-div {
	float: left;
	width: 100px;
	padding: 5px 20px 3px 5px;
	color: #333;
}

.header-div span {
	font-weight: bold;
}

.header-label-small {
	font-size: 12px !important; 
	color: white; 
	margin-left: 10px; 
	margin-right: 5px;
}

.filter {
	background: #eee;
}

.listitem {
	background: white;
}

.listitem td {
	background: white;
	border-bottom: solid 1px #ddd;
}

.listhead {
	background: white;
}

.listhead div {
	padding: 2px 5px 0px 5px;
}

.listhead-s {
	background: white;
}

.listhead-s div {
	padding: 4px 5px 0px 5px;
}

.listhead-s:hover {
	background: #ddd;
}

.listbox {
	border: solid 2px #99c6ef;
}

.row {
	background: white;
}

.row td {
	background: white;
	border: none;
	border-bottom: solid 1px #ddd;
}

.row td div {
	
}

.row td div div {
	
}

/* Komponenta COMBO */

.combo-bandbox-del .z-bandbox-button {
	border-radius: 0px 0px 0px 0px;
	border-right: 0px;
}

.combo-bandbox-del .z-bandbox-button .z-icon-search:before,
.combo-bandbox .z-bandbox-button .z-icon-search:before {
	content:"\25BC";
	padding-top:2px;
}

.combo-button:before {
	content:"\2716";
	padding-top:2px;
}

.combo-bandbox .z-bandbox-input::-ms-clear {
    display: none;
}

.calendarGrid .z-grid-body table {
	border-collapse: collapse;
}

.calendarGrid .z-grid-header table {
	border-collapse: collapse;
}

.calendarGridCell {
	padding: 0px;
	border:solid 1px #ccc;
}

.calendarCaptionDiv {
	border: none;
	background: #eef;
	padding:2px 5px;
}

.calendarContentDiv {
	border: none;
	background: #aad;
	padding:2px 5px;
	margin: 1px;
	border-radius: 3px;
	cursor:pointer;
}

.calendarEmptySpaceDiv {
	border: none;
	background: #fff;
	padding:0px 5px;
	margin: 1px;
}

.menuItemSelected {
	border: solid 1px #aaa;
	font-weight:bold;
}

.localization {
	margin-right: 20px;
}

.vbox-content {
	margin-top: 20px;
}

.grid-row {
	padding: 10px; 
	border: none;
}
