
body{
	padding: 0;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;
}

/* ZK native override */
.z-label, .z-button, .z-a, .z-menuitem-text, input[type=submit]{
	/*font-family: 'Roboto', sans-serif !important;*/
	font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;
}

.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox,
.z-combobox-input, .z-bandbox-input, .z-datebox-input,
.z-timebox-input, .z-spinner-input, .z-doublespinner-input {
	/*font-family: 'Roboto', sans-serif !important;*/
	font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;
	font-size: 14px;
}

.z-label{
	font-size: 14px;
}

.z-vlayout-inner{
	padding: 0px !important;
}

.z-hlayout-inner{
	padding: 0px !important;
}

.z-north-body{
	padding: 0;
}

.z-west-body{
	padding: 0;
}

.z-center-body{
	padding: 0;
}

.z-button{
	background-color: #20a8d8;
	transition: background-color 0.3s
}

.z-button:HOVER{
	background-color: #1b8eb7;
}

.z-groupbox{
	border: solid 1px #c8ced3;
	border-radius: 4px !important;
	padding: 0px; 
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}

.z-groupbox .z-groupbox-header{
	border: none;
	background-color: #f0f3f5;
	height: 46px;
	border-bottom: solid 1px #c8ced3;
	padding: 0px 20px;
}

.z-groupbox .z-groupbox-header .z-caption{
	top: inherit !important;
	height: 46px;
	padding: 0;
	background-color: #f0f3f5;
}

.z-groupbox .z-groupbox-header .z-caption .z-caption-content{
	height: 46px;
	line-height: 46px;
	padding: 0;
	font-size: 14px;
	color: #23282c;
	/*font-family: 'Roboto', sans-serif !important;*/
	font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;
}

.z-groupbox .z-groupbox-content{
	border: none;
	padding: 20px 20px;
	font-size: 14px;
	color: #23282c;
}

.no-inner-padding .z-groupbox-content{
	padding: 0px;
}

.z-listbox {
	border: 1px solid #c8ced3;
	border-radius:4px;
	margin-bottom: 30px;
}

.z-listbox-header , .z-listbox-header th{
	background-color: #f0f3f5;
	color: #23282c;
}

th.z-auxheader{
	border-bottom-color: #c8ced3;
}

.z-listheader-content, .z-auxheader-content{
	color: #23282c;
	font-size: 14px;
	padding: 0px 20px;
	height: 46px;
	line-height: 46px;
}

.z-listheader {
	border-left: 1px solid #c8ced3;
	border-bottom: 1px solid #c8ced3;
}

.z-listbox-header-border{
	border-bottom: 1px solid #c8ced3;
}

.z-listcell-content{
	font-size: 14px;
	padding: 12px 20px;
}

.z-listitem-selected > .z-listcell > .z-listcell-content > .z-listitem-checkable .z-listitem-icon.z-icon-radio {
	background-color: #20a8d8;
}

.z-grid{
	border: none;
}

.z-grid .z-cell{
	border: none;
	padding: 10px 20px;
}

/* 
==========================================================
SCB common 
==========================================================
*/
.y-scrollable{
	overflow-y: auto !important;
}

.scb-headline-big{
	font-size: 35px;
	font-weight: 300;
	margin-bottom: 20px;
	display: block;
}

/* 
==========================================================
SCB components 
==========================================================
*/

.scb-content{
	background-color: #e4e5e6;
	padding: 0px;
}

.scb-view{
	background-color: #e4e5e6;
	padding: 30px;
	overflow-y: auto !important;
}

.scb-footer{
	text-align: center;
}

/* FOOTER */
.scb-footer{
	height: 50px;
	line-height: 50px;
	background-color: #f0f3f5;
	font-size: 14px;
	border-top: solid 1px #c8ced3; 
}

/* SIDE MENU */
.scb-side-menu{
	background-color: #2f353a;
	color: #fff;
}

.scb-side-menu a{
	font-size: 14px;
	font-weight: 400;
	color: #fff !important;
	text-decoration: none;
	height: 45px;
	line-height: 45px;
	padding: 0px 18px; 
	display: block;
}

.scb-side-menu a:HOVER{
	background-color: #20a8d8;
}

.scb-side-menu a.scb-menu-active{
	background-color: #20a8d8;
}

.scb-side-menu a i{
	color: #73818f;
	width: 25px;
	margin-right: 10px;
}

.scb-side-menu a:HOVER i, .scb-side-menu a.scb-menu-active i{
	color: #fff;
}

/* NAVBAR (app header) */
.scb-navbar{
	border-bottom: solid 1px #c8ced3;
	overflow: hidden;
}

.scb-navbar .logged-user-btn{
	float: right;
	margin: 7px 7px;
}

.scb-navbar .brand-logo-wrapper{
	display: inline-block;
	height: 100%;
	float: left;
	margin-left: 10px;
}

.scb-navbar .brand-name{
	color: #2f353a;
	font-size: 18px;
	font-weight: 300;
	line-height: 55px;
	text-decoration: none;
}

.scb-navbar .brand-logo{
	width: 40px;
	height: 40px;
	border-radius: 3px; 
	margin-right: 6px;
	position: relative;
	top: -2px;
}

.scb-navbar .app-logo-wrapper{
	width: 200px;
	height: 100%;
	border-right: solid 1px #e4e7ea; 
	display: inline-block;
	float: left;
	padding-left: 12px;
}

.scb-navbar .app-logo-wrapper .app-logo{
	font-family: 'Faster One' !important;
	font-size: 25px;
	text-align: center;
	line-height: 27px;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	border: solid 1px #20a8d8;
	background-color: #20a8d8;
	color: #fff;
	position: relative;
	top: -3px;
}

.scb-navbar .app-logo-wrapper .app-name{
	line-height: 55px;
	font-family: 'Orbitron' !important;
	color: #2f353a;
	font-size: 21px;
	margin-left: 5px;
}

/* LOGIN PAGE */
.login-page{
	background-color: #e4e5e6;
	padding-top: 150px;
}

.login-page .login-frame{
	background-color: #fff;
	width: 390px;
	margin: 0 auto;
	border: solid 1px #c8ced3;
	padding: 45px 40px 40px 40px;
	border-radius: 4px; 
}

.login-page .login-frame h1{
	font-size: 35px;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

.login-page .login-frame h2{
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 15px 0px 20px 0px;
	color: #73818f !important;
}

scb-input{
	display: flex;
	flex-wrap: wrap;
	height: 35px;
	position: relative;
	margin-bottom: 26px;
}

scb-input[validation=invalid]{
	border-color: #f86c6b;
}

scb-input > input-icon{
	width: 40px;
	height: 35px;
	display: block;
	border-radius: 4px 0px 0px 4px;
	border: solid 1px #e4e7ea;
	border-right: none;
	line-height: 35px;
	font-size: 24px;
	background-color: #f0f3f5;
	color: rgb(92, 104, 115); 
}

scb-input[validation=invalid] input-icon{
	border-color: #f86c6b;
}

scb-input > input-icon i{
	padding-left: 9px;
}

scb-input > input-wrapper{
	flex: 1;
	height: 35px;
	border: solid 1px #e4e7ea;
	border-radius: 0px 4px 4px 0px;
	padding: 0px;
	font-size: 14px;
	overflow: hidden;
}

scb-input[validation=invalid] input-wrapper{
	border-top-color: #f86c6b;
	border-right-color: #f86c6b;
	border-bottom-color: #f86c6b;
}

scb-input input{
	width:100%;
	height: 35px;
	border: none;
	padding: 0px 15px;
	font-size: 14px;
}

scb-input validation{
	position: absolute;
	bottom: -25px;
	left: 0px;
	right: 0px;
	height: 25px;
	line-height: 25px;
	color: #f86c6b;
	font-size: 13px;
}

#input-password i{
	position: relative;
	left: 4px;
}

.login-page input[type=submit]{
	height: 35px;
	padding: 0px 30px;
	background-color: #20a8d8;
	border-radius: 4px;
	border: solid 1px  #20a8d8;
	color: #fff;
	font-size: 14px;
	transition: background-color 0.3s;
}

.login-page input[type=submit]:HOVER{
	background-color: #1b8eb7;
}

span.login-failed{
	display: block;
	background-color: #f86c6b;
	color: white;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
}

.login-page a.fp{
	font-size: 14px;
	float: right;
	display: inline-block;
	color: #20a8d8;
	padding: 9px 0px;
	text-decoration: none;
	transition: color 0.3s;
}

.login-page a.fp:HOVER{
	color: #1b8eb7;
	text-decoration: underline;
}

