
body{
	padding: 0;
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
	background-color: #eeeeee;
}

/* ZK native override */
.z-label, .z-button, .z-a, .z-menuitem-text, input[type=submit]{
	/*font-family: 'Roboto', sans-serif !important;*/
	/*font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important*/;
	font-family: 'Open Sans', sans-serif;
}

.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox,
.z-combobox-input, .z-bandbox-input, .z-datebox-input,
.z-timebox-input, .z-spinner-input, .z-doublespinner-input {
	/*font-family: 'Roboto', sans-serif !important;*/
	/*font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.z-label{
	font-size: 14px;
}

.z-vlayout-inner{
	padding: 0px !important;
}

.z-hlayout-inner{
	padding: 0px !important;
}

.z-north-body{
	padding: 0;
}

.z-west-body{
	padding: 0;
}

.z-center-body{
	padding: 0;
}

.z-button{
	background-color: #20a8d8;
	transition: background-color 0.3s
}

.z-button:HOVER{
	background-color: #1b8eb7;
}

.z-groupbox{
	border: solid 1px #c8ced3;
	border-radius: 4px !important;
	padding: 0px; 
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}

.z-groupbox .z-groupbox-header{
	border: none;
	background-color: #f0f3f5;
	height: 46px;
	border-bottom: solid 1px #c8ced3;
	padding: 0px 20px;
}

.z-groupbox .z-groupbox-header .z-caption{
	top: inherit !important;
	height: 46px;
	padding: 0;
	background-color: #f0f3f5;
}

.z-groupbox .z-groupbox-header .z-caption .z-caption-content{
	height: 46px;
	line-height: 46px;
	padding: 0;
	font-size: 14px;
	font-weight:bold;
	color: #23282c;
	/*font-family: 'Roboto', sans-serif !important;*/
	/*font-family: -apple-system, system-ui,B linkMacSystemFont, "Segoe UI", Roboto," Helvetica Neue", Arial,s ans-serif !important;*/
	font-family: 'Open Sans', sans-serif;
}

.z-groupbox .z-groupbox-content{
	border: none;
	padding: 20px 20px;
	font-size: 14px;
	color: #23282c;
}

.no-inner-padding .z-groupbox-content{
	padding: 0px;
}

.z-listbox {
	border: 1px solid #c8ced3;
	border-radius:4px;
	margin-bottom: 30px;
}

.z-listbox-header , .z-listbox-header th{
	background-color: #f0f3f5;
	color: #23282c;
}

th.z-auxheader{
	border-bottom-color: #c8ced3;
	border-left-color: #c8ced3;
}

th.z-column, th.z-auxhead-bar, th.z-columns-bar{
	background-color: #f0f3f5;
}

th.z-columns-bar, th.z-auxhead-bar{
	border-left-color: #c8ced3 !important;
}

.z-grid-header{
	background-color: #f0f3f5;
}

th.z-column, .z-grid-header-border, .z-auxhead-bar{
	border-bottom-color: #c8ced3 !important;
}

th.z-column{
	border-left-color: #c8ced3 !important;
}

.z-listheader-content, .z-auxheader-content{
	color: #23282c;
	font-size: 14px;
	padding: 0px 20px;
	height: 46px;
	line-height: 46px;
	background-color: #f0f3f5 !important;
}

.z-listheader {
	border-left: 1px solid #c8ced3;
	border-bottom: 1px solid #c8ced3;
}

.z-listbox-header-border{
	border-bottom: 1px solid #c8ced3;
}

.z-listcell-content{
	font-size: 14px;
	padding: 12px 20px;
}

.z-listitem-selected > .z-listcell > .z-listcell-content > .z-listitem-checkable .z-listitem-icon.z-icon-radio {
	background-color: #20a8d8;
}

.z-grid{
	border: none;
}

.z-grid .z-cell{
	border: none;
	padding: 10px 20px;
}

.z-button{
	height: 36px;
	padding-top: 0;
	padding-bottom: 0;
}

.z-cell:HOVER, .z-row-inner:HOVER, .z-row:HOVER .z-cell, .z-row:HOVER .z-row-inner{
	background-color: white !important;
}

.z-listheader-sorticon i{
	color: rgba(0, 0, 0, 0.9) !important;
}

.z-tabs li.z-tab-selected {
	border-bottom-color: #20a8d8 !important;
}

.z-tabs .z-tab-selected .z-tab-text{
	color: #20a8d8 !important;
}

.z-window-modal{
	padding: 0px !important;
}

.z-window-modal .z-window-content{
	padding: 24px !important;
}

.z-window-modal > .z-window-header{
	color: rgba(0, 0, 0, 0.9);
	padding: 14px 24px;
	background-color: #f5f5f5;
	border-bottom: solid 1px #cccccc;
}

.z-window-modal .z-cell{
	padding: 0;
	padding-bottom: 15px;
}

.z-window-close{
	padding-right: 0px;
	position: relative;
	right: -6px;
	top: -4px;
}

.z-auxheader-content > select{
	height: 34px;
	border: solid 1px #c8ced3;
	border-radius: 4px;
	font-size: 14px;
	padding: 0px 5px;
}

.z-tabpanel{
	padding: 20px 20px;
}

/* 
==========================================================
SCB common 
==========================================================
*/

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.y-scrollable{
	overflow-y: auto !important;
}

.scb-headline-big{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
	display: block;
}

.add-item-btn{
	height: 36px;
	width: 36px;
	border-radius: 18px;
	text-align:center;
	padding: 0;
}

.toolbar-btn{
	height: 36px;
	width: 36px;
	text-align:center;
	padding: 0;
	background-color: #f0f3f5;
	color: #20a8d8;
	box-shadow: none !important;
	margin-left: 5px;
}

.square-btn{
	height: 36px;
	width: 36px;
	padding: 0;
	text-align:center;
}

.round-btn{
	height: 36px;
	width: 36px;
	padding: 0;
	text-align:center;
	border-radius: 18px;
}

.round-btn-small{
	height: 22px;
	width: 22px;
	padding: 0;
	text-align:center;
	border-radius: 12px;
}

.scb-panel{
	border: solid 1px #c8ced3;
	border-radius: 4px;
	overflow: hidden;
	background-color: white;
}

.scb-form-grid{
	border: solid 1px #c8ced3;
	border-radius: 4px;
}

.scb-valid-msg{
	float: right;
	color: red;
}

/* 
==========================================================
SCB Buttons 
==========================================================
*/

.btn-success{
	background-color: #4dbd74 !important;
}

.btn-success:HOVER{
	background-color: #3a9d5d !important;
}

.btn-warning{
	background-color: #ffc107 !important;
}

.btn-warning:HOVER{
	background-color: #d39e00 !important;
}

.btn-danger{
	background-color: #f86c6b !important;
}

.btn-danger:HOVER{
	background-color: #f63c3a !important;
}

.btn-light{
	background-color: #f0f3f5 !important;
	color: #2f353a;
}

.btn-light:HOVER{
	background-color: #d1dbe1 !important;
	color: #2f353a;
}

/* 
==========================================================
SCB components 
==========================================================
*/

.scb-content{
	background-color: #eee;
	padding: 0px;
}

.scb-view{
	background-color: #eee;
	padding: 30px;
}

.scb-view-900{
	max-width: 900px;
}

.scb-view-1100{
	max-width: 1100px;
}

.scb-template-center > .z-center-body{
	overflow: hidden;
	background-color: #eee;
	position: relative;
}

.scb-view-wrapper{
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
	
}

.scb-view-footer, .scb-view-push {
    height: 50px; /* .push must be the same height as .footer */
}

.scb-view-footer{
	overflow: hidden;
}

.scb-view-wrapper-2{
	height: 100%;
	overflow-y: auto !important;
}

/* PAGE TOOLBAR */
.scb-page-toolbar{
	background-color: #eeeeee;
	height: 50px !important;
	overflow: hidden;
	border-bottom: solid 1px #c8ced3;
	padding-left: 30px;
	line-height: 50px;
}

.scb-page-toolbar button{
	position: relative;
	top: -3px;
}

/* FOOTER */
.scb-footer{
	height: 50px;
	line-height: 50px;
	background-color: #f0f3f5;
	font-size: 14px;
	border-top: solid 1px #c8ced3; 
	text-align: center;
}

.scb-footer .app-logo{
	font-family: 'Faster One' !important;
	font-size: 25px;
	text-align: center;
	line-height: 27px;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	border: solid 1px #20a8d8;
	background-color: #20a8d8;
	color: #fff;
	position: relative;
	top: -6px;
}

.scb-footer .app-name{
	line-height: 55px;
	font-family: 'Orbitron' !important;
	color: #888;
	font-size: 21px;
	margin-left: 5px;
	position: relative;
	top: -2px;
}

/* SIDE MENU */
.scb-side-menu-wrapper{
	overflow: visible !important;
	background-color: #eee;
}

.scb-side-menu-wrapper > .z-west-body{
	transition: width 0.5s; 
}

.scb-side-menu{
	background-color: #2f353a;
	color: #fff;
	position: relative;
}

.scb-side-menu a{
	font-size: 16px;
	font-weight: 400;
	color: #fff !important;
	text-decoration: none;
	height: 45px;
	line-height: 45px;
	padding: 0px 20px; 
	display: block;
	transition: background-color 0.3s ;
}

.scb-side-menu a span{
	font-size: 16px;
	transition: visibility 0s, opacity 1.5s ease;
	visibility: visible;
	opacity: 1;
}

.scb-side-menu-wrapper-folded a span{
	visibility: hidden;
	opacity: 0;
}

.scb-side-menu a:HOVER{
	background-color: #20a8d8;
}

.scb-side-menu a.scb-menu-active{
	background-color: #20a8d8;
}

.scb-side-menu a i{
	color: #73818f;
	width: 25px;
	margin-right: 10px;
}

.scb-side-menu a:HOVER i, .scb-side-menu a.scb-menu-active i{
	color: #fff;
}

.scb-side-menu-inner-wrapper{
	position: relative;
}

.scb-side-menu-inner-wrapper .contact{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
	text-align: center;
	padding: 20px 10px;
	
	transition: visibility 0s, opacity 3s ease;
	visibility: visible;
	opacity: 1;
}

.scb-side-menu-inner-wrapper .contact a{
	color: #20a8d8;
	padding: 10px 0px;
	display: inline-block;
	text-decoration: none;
}

.scb-side-menu-inner-wrapper .contact a:HOVER{
	text-decoration: underline;
}

.scb-side-menu-wrapper-folded .contact{
	visibility: hidden;
	opacity: 0;
}

/* NAVBAR (app header) */
.scb-navbar{
	border-bottom: solid 1px #c8ced3;
	overflow: hidden;
}

.scb-navbar .logged-user-btn{
	height: 54px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 0px;
	padding: 0px 15px; 
	padding-right: 10px;
}

.scb-navbar .logged-user-btn:HOVER{
	background-color: #f0f3f5;
	transition: background-color 0.5s;
}

.scb-navbar .logged-user-btn .z-hlayout, .scb-navbar .logged-user-btn .z-hlayout-inner{
	display:inline-block;
	height: 54px;
	vertical-align: middle;
}

.scb-navbar .logged-user-btn span{
	display:inline-block;
	height: 54px;
	line-height: 54px;
}

.scb-navbar .logged-user-btn .avatar{
	font-size: 36px;
	vertical-align: middle;
	position: relative;
	top: 9px;
	margin-right: 5px;
}

.scb-navbar .logged-user-btn .z-icon-caret-down{
	display:inline-block;
	height: 54px;
	line-height: 54px;
	font-size: 20px;
	margin-left: 10px;
}

.scb-navbar .brand-logo-wrapper{
	display: inline-block;
	height: 100%;
	float: left;
	margin-left: 18px;
	position: relative;
	top: 0px;
}

.scb-navbar .brand-name{
	color: #2f353a;
	font-size: 20px;
	font-weight: 600;
	line-height: 55px;
	text-decoration: none;
	position: relative;
	left: -2px;
}

.scb-navbar .brand-logo{
	width: 30px;
	height: 30px;
	border-radius: 3px; 
	margin-right: 6px;
	position: relative;
	top: -2px;
}

.scb-navbar .app-logo-wrapper{
	width: 230px;
	height: 100%;
	border-right: solid 1px #e4e7ea; 
	display: inline-block;
	float: left;
	padding-left: 12px;
	position: relative;
	top: 0px;
	overflow: hidden;
	transition: width 0.5s;
}

.scb-navbar .app-logo-wrapper-folded .app-name{
	display: none;
}

.scb-navbar .app-logo-wrapper .app-logo{
	font-family: 'Faster One' !important;
	font-size: 25px;
	text-align: center;
	line-height: 27px;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	border: solid 1px #20a8d8;
	background-color: #20a8d8;
	color: #fff;
	position: relative;
	top: -3px;
}

.scb-navbar .app-logo-wrapper .app-name{
	line-height: 55px;
	font-family: 'Orbitron' !important;
	color: #2f353a;
	font-size: 21px;
	margin-left: 5px;
	position: relative;
}

.scb-navbar .app-logo-wrapper a{
	float: right;
	font-size: 24px;
	color: #2f353a;
	position: relative;
	top: 17px;
	right: 15px; 
	transition: color 0.3s;
}

.scb-navbar .app-logo-wrapper a:HOVER{
	color: #20a8d8;
}

a.menu-toggle-btn{
	font-size: 24px;
	color: #2f353a;
	position: relative;
	top: 0px;
	transition: color 0.3s;
	margin-right: 13px;
}

a.menu-toggle-btn:HOVER{
	color: #20a8d8;
}

.scb-navbar .navbar-btn{
	height: 54px;
	display: inline-block;
	padding: 0 25px;
	border-left: solid 1px #e4e7ea;
	line-height: 54px;
	cursor: pointer; 
	transition: background-color 0.5s;
	color: #2f353a;
	text-decoration: none;
}

.scb-navbar .navbar-btn:HOVER{
	background-color: #f0f3f5;
}

.scb-navbar .navbar-btn i{
	font-size: 36px;
	margin-right: 15px;
	position: relative;
	top: 7px;
}

.scb-navbar .navbar-btn span{
	position: relative;
	top: -2px;
}

.scb-navbar .right-side{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #fff;
}

/* LOGIN PAGE */
.login-page{
	background-color: #eee;
	padding-top: 150px;
	padding-bottom: 50px;
	clear: both;
}

.login-page .login-frame{
	width: 712px;
	margin: 0 auto;
	clear: both;
}

.login-page .login-frame-left{
	background-color: #fff;
	width: 390px;
	height: 350px;
	display: inline-block;
	border: solid 1px #c8ced3;
	border-right:none;
	padding: 45px 40px 40px 40px;
	border-radius: 4px 0px 0px 4px; 
	float: left;
	position: relative;
}

.login-page .login-frame-right{
	width: 320px;
	height: 350px;
	display: inline-block;
	background-color: #20a8d8;
	border: solid 1px #187da0;
	border-left:none;
	padding: 45px 40px 40px 40px;
	border-radius: 0px 4px 4px 0px; 
	text-align: center;
}

button.lpp{
	box-shadow: none;
	background-color: #1985ac;
	border: solid 1px #187da0;
	font-size: 14px;
}

button.lpp:HOVER{
	background-color: #20a8d8 !important;
	border: solid 1px #187da0;
}

.login-page .login-frame h1{
	font-size: 35px;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

.login-page .login-frame h2{
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 15px 0px 20px 0px;
	color: #73818f !important;
}

.login-page .brand{
	display: block;
	text-align: center;
	color: white;
	font-family: 'Orbitron' !important;
	font-size: 28px;
	margin-top: 30px;
	cursor: pointer;
	text-decoration: none;
}

.login-page .brand:HOVER{
	text-decoration: none;
}

.login-page .txt{
	display: block;
	text-align: center;
	color: white;
	line-height: 25px;
	margin: 30px 0px;
}

.login-page .footer {
	display: block;
	text-align: center;
	color: #73818f;
	line-height: 15px;
	margin: 22px 0px;
}

scb-input{
	display: flex;
	flex-wrap: wrap;
	height: 35px;
	position: relative;
	margin-bottom: 26px;
}

scb-input[validation=invalid]{
	border-color: #f86c6b;
}

scb-input > input-icon{
	width: 40px;
	height: 35px;
	display: block;
	border-radius: 4px 0px 0px 4px;
	border: solid 1px #e4e7ea;
	border-right: none;
	line-height: 35px;
	font-size: 24px;
	background-color: #f0f3f5;
	color: rgb(92, 104, 115); 
}

scb-input[validation=invalid] input-icon{
	border-color: #f86c6b;
}

scb-input > input-icon i{
	padding-left: 9px;
}

scb-input > input-wrapper{
	flex: 1;
	height: 35px;
	border: solid 1px #e4e7ea;
	border-radius: 0px 4px 4px 0px;
	padding: 0px;
	font-size: 14px;
	overflow: hidden;
}

scb-input[validation=invalid] input-wrapper{
	border-top-color: #f86c6b;
	border-right-color: #f86c6b;
	border-bottom-color: #f86c6b;
}

scb-input input{
	width:100%;
	height: 35px;
	border: none;
	padding: 0px 15px;
	font-size: 14px;
}

scb-input validation{
	position: absolute;
	bottom: -25px;
	left: 0px;
	right: 0px;
	height: 25px;
	line-height: 25px;
	color: #f86c6b;
	font-size: 13px;
}

#input-password i{
	position: relative;
	left: 4px;
}

.login-page input[type=submit]{
	height: 35px;
	padding: 0px 30px;
	background-color: #20a8d8;
	border-radius: 4px;
	border: solid 1px  #20a8d8;
	color: #fff;
	font-size: 14px;
	transition: background-color 0.3s;
}

.login-page input[type=submit]:HOVER{
	background-color: #1b8eb7;
}

span.login-failed{
	display: block;
	background-color: #f86c6b;
	color: white;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
	position: absolute;
	top: 15px;
}

.login-page a.fp{
	font-size: 14px;
	float: right;
	display: inline-block;
	color: #20a8d8;
	padding: 9px 0px;
	text-decoration: none;
	transition: color 0.3s;
}

.login-page a.fp:HOVER{
	color: #1b8eb7;
	text-decoration: underline;
}

.clear{
	display: block;
	clear: both;
}

.login-mobile-info{
	width: 390px;
	margin: 0 auto;
	text-align: center;
	clear: both;
	padding-top: 30px;
	display: none;
}

.login-mobile-info .frame{
	border: solid 1px #187da0;
	background-color: #20a8d8;
	color: white;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
}

/* VALIDATION */
.form-grid-validation-hbox .alert-danger, .alert-danger span{
	color: red;
}

.form-captcha-panel{
	background-color: #fff;
	border: solid 1px #c8ced3;
	padding: 20px;
	padding-right: 15px;
	display: inline-block;
	border-radius: 4px;
	margin: 30px 0px; 
}

.form-captcha-panel .z-hlayout-inner{
	margin-right: 5px;
}

.scb-input-invalid{
	border-color: red !important;
}

/* FORM */
.scb-form-grid-2 .z-cell{
	padding: 10px 0px;
}

/* OTHER */
.lesson-stats th span{
	color: #23282c;
}

.big-icon i{
	font-size: 26px !important;
}

i.big-icon{
	font-size: 26px !important;
}

.z-window-modal{
	background-color: white !important;
}

.fix-btn-icon i{
	position: relative;
	top: 2px;
}

.tab-no-padding{
	padding: 0 !important;
}

.sp-popup-headline{
	padding-left: 3px !important;
	background-color: #e8f5ff !important;
	display: block;
	padding: 12px 15px !important;
}

.logged-user-menu-user-info a{
	color: white !important;
	background-color: #20a8d8 !important;
	text-align: center !important;
	display: block !important;
	border-radius: 3px !important;
	cursor: auto;
}

.logged-user-menu-user-info .z-menuitem-image{
	display: none;
}

.dashboar-public{
	text-align: center;
}

.dochazka-t{
	border: solid 1px #d9d9d9 !important;
}

.dochazka-t .d-users span{
	color: black;
}

.dochazka-t .years{
	
}

.dochazka-t .season{
	background-color: #e4e7ea;
}

.dochazka-t .month{
	background-color: #c8ced3;
}

.dochazka-wrapper{
	overflow-x: auto; 
}

.dochazka-wrapper .header-name{
	font-weight: bold;
}

.dochazka-wrapper th{
	vertical-align: top;
}

.mail-recipient-list{
	max-height: 250px;
	margin-bottom: 2px;
	overflow-y: auto; 
}







/* ===== RESPONSIVE ===== */

.only-on-mobile-platform{
	display: none !important;
}

@media screen and (max-width: 850px) {
	
	.z-button{
		white-space: normal !important;
		line-height: 20px !important;
		height: inherit !important;
		min-height: inherit !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	
	.add-item-btn{
		height: 36px !important;
		width: 36px !important;
		border-radius: 18px !important;
		text-align:center !important;
		padding: 0 !important;
	}
	
	.login-page{
		padding-top: 50px !important;
	}
	
	.login-frame {
		width: 390px !important;
	}
	
	.login-frame .login-frame-left{
		width: 390px;
		border: solid 1px #c8ced3 !important;
		border-radius: 4px !important;
	}
	
	.login-frame .login-frame-right{
		display: none !important;
	}
	
	.login-mobile-info{
		display: block;
	}
	
	.hide-on-mobile-platform{
		display: none !important;
	}
	
	.only-on-mobile-platform{
		display: block !important;
	}
	
	.z-tabpanel{
		overflow-x: auto;
	}
	
	.mobile-overflow-x-auto,  .mobile-overflow-x-auto > .z-vlayout-inner{
		overflow-y: auto !important; 
	}
	
	.listbox-mobile-2-width-1000 .listbox{
		min-width: 1000px !important;
	}
	
	.listbox-wrapper .z-vlayout-inner{
		overflow-x: auto; 
	}
	
	div.listbox-wrapper{
		overflow-x: auto; 
	}
	
	.z-listbox{
		margin-bottom: 0 !important;
	}
}



@media screen and (max-width: 500px) {
	.login-page{
		padding-top: 0px !important;
		width: 100% !important;
		clear: both;
	}
	
	.login-frame {
		display: block;
		width: 100% !important;
		padding: 15px !important;
		margin: 0px !important;
		clear: both;
	}
	
	.login-frame .login-frame-left{
		width: inherit !important;
		height: inherit !important;
		display: block;
		clear: both;
		padding: 25px;
	}
	
	.z-html{
		display: block; 
	}
	
	.login-mobile-info{
		padding: 15px !important;
		width: 100% !important;
	}
	
	.login-mobile-info .frame{
		width: 100% !important;
	}
	
	.scb-side-menu a {
		height: inherit !important;
		text-align: center;
		padding: 5px 2px;
		line-height: 25px;
	}

	.scb-side-menu a i{
		display: block;
		display: inline-block;
		margin: 0;
		height: 25px;
	}

	.scb-side-menu a span{
		visibility: visible !important;
		display: block !important;
		opacity: 1 !important;
		font-size: 10px;
	}
	
	.scb-view{
		padding: 15px;
	}
	
	.scb-headline-big{
		font-size: 20px;
		margin-bottom: 15px;
	}
	
	.brand-name{
		font-size: 15px !important;
	}
	
	.listbox{
		min-width: 800px !important;
	}
	
	.listbox-500{
		min-width: 500px !important;
	}
	
	.listbox-400{
		min-width: 400px !important;
	}
	
	.listbox-300{
		min-width: 300px !important;
	}
	
	.mobile-inherit-width{
		min-width: inherit !important;
	}
	
	.listbox-mobile-width-1000 .listbox{
		min-width: 1000px !important;
	}
	
	.listbox-wrapper .z-vlayout-inner{
		overflow-x: auto; 
	}
	
	div.listbox-wrapper{
		overflow-x: auto; 
	}
	
	.z-listbox{
		margin-bottom: 0 !important;
	}
	
	.mobile-width-1200 .z-tabpanel,  .mobile-width-800 .z-tabpanel{
		overflow-x: auto;
	}

	.mobile-width-1200 .z-tabpanel > div{
		min-width: 1200px !important;
	}

	.mobile-width-800 .z-tabpanel > div{
		min-width: 800px !important;
	}
	
	.z-tabpanel{
		overflow-x: auto;
	}
	
	.mobile-overflow-x-auto,  .mobile-overflow-x-auto > .z-vlayout-inner{
		overflow-y: auto !important; 
	}
	
	.login-failed{
		position: relative !important;
		top: 0px !important;
	}
}

