<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-2">{{ title }}</h2>
          <p class="card-title text-center text-white">Sportovní klub on-line.</p>
          <!--
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
              <a routerLink="/create-instance" class="btn btn-info">Založení instance</a>
            </li>
          </ul>
          -->
        </div>
      </div>
      <main>
        <router-outlet></router-outlet>

      </main>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Copyright Sportologic, s.r.o. 2019. Všechna práva vyhrazena</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" rel="noopener noreferrer" href="https://sportologic.cz/web/sportologic-vseobecne-podminky.pdf">Všeobecné podmínky</a>
          </li>
          <li>
            <a href="#" (click)="healthCheck()">HealthCheck</a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</div>