/target/
/.settings/
/bin/
/build/
/.project
/.classpath

/src/main/resources/config/P3400343.properties
/src/main/resources/config/pkbohumin.cz.properties
/src/main/resources/config/smtp.properties
/src/main/resources/config/jakub.zaoralek.properties
/src/test/resources/jakub.zaoralek.properties