<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
		  font-family: helvetica,arial,sans-serif;
		  font-size: 14pt;
		  color: #808080;
		}
	</style>
  </head>
  <body>
  	<p th:text="#{msg.ui.mail.paymentInstruction.greeting}"/>
  
    <p th:if="${courseType} == 'TWO_SEMESTER'" th:text="#{msg.ui.mail.paymentConfirmation.text1.twoSemester(${courseName}, ${semester}, ${year}, ${particiName})}"/>
    
    <p th:if="${courseType} == 'STANDARD'" th:text="#{msg.ui.mail.paymentConfirmation.text1.standard(${courseName}, ${year}, ${particiName})}"/>
    
    <p th:text="#{msg.ui.mail.Regards}" />
    <div th:utext="${signature}" >
    </div>
    
  </body>
</html>